<mat-toolbar color="primary">
    <div>
        <a routerLink="/">
          <img class="logo" src="assets/images/sportal_logo.png">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end center" fxHide.gt-xs>
      <mat-icon *ngIf="authService.userLoggedIn">account_circle</mat-icon>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li>
          <a routerLink="/help">Pomoc</a>
        </li>
        <li *ngIf="!authService.userLoggedIn">
          <a class="navigation-item navigation-item__padding" routerLink="/login">Zaloguj się</a>
        </li>
        <li *ngIf="authService.userLoggedIn">
            <button mat-button [matMenuTriggerFor]="menu" class="menu-button navigation-item">
                <mat-icon>account_circle</mat-icon>
                <span> xXxAdam69xXx</span>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item>
                <mat-icon>home</mat-icon>
                <span>Strona główna</span>
              </button>
              <button mat-menu-item>
                <mat-icon>star</mat-icon>
                <span>Ulubione</span>
              </button>
              <button mat-menu-item>
                <mat-icon>history</mat-icon>
                <span>Historia</span>
              </button>
              <button mat-menu-item>
                <mat-icon>feedback</mat-icon>
                <span>Opinie</span>
              </button>
              <button mat-menu-item (click)="authService.logout()">
                  <mat-icon>reply</mat-icon>
                  <span>Wyloguj się</span>
                </button>
            </mat-menu>            
        </li>
      </ul>
    </div>
  </mat-toolbar>
  