<div fxLayout="column" fxLayoutAlign="center center">
      <div class="acceptregister-form_container">
        <h4>Potwierdzenie</h4>
        <p>Wprowadź otrzymany kod.</p>
        <div *ngIf="invalidCrudentials" id="invalid-crudential-alert" class="mat-error" style="font-size: 0.9rem" fxLayout fxLayoutAlign="left center">
            <mat-icon>error</mat-icon>
            <p>Nieprawidłowy kod potwierdzający.</p>
        </div>
        <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)"
              fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field class="example-full-width">
            <input matInput 
                  type="text" 
                  placeholder="Kod" 
                  ngModel name="acceptcode" 
                  required>
              <mat-error>Wprowadź kod.</mat-error>
          </mat-form-field>
          <a>
          <button [disabled]="f.invalid" mat-raised-button color="primary" type="submit">Potwierdź.</button></a>
        </form>
      </div>
    </div>