<div fxLayout="column" fxLayoutAlign="center center">
  <div class="login-form__container">
    <h4>Logowanie</h4>
    <div *ngIf="invalidCrudentials" id="invalid-crudential-alert" class="mat-error" style="font-size: 0.9rem" fxLayout fxLayoutAlign="left center">
        <mat-icon>error</mat-icon>
        <p>Nieprawidłowy login lub hasło.</p>
    </div>
    <form class="login-form" #f="ngForm" (ngSubmit)="onSubmit(f)"
          fxLayout="column" >
      <mat-form-field>
        <input matInput 
              type="text" 
              placeholder="Login" 
              ngModel name="login" 
              required>
          <mat-error>Pole nie może być puste.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
              type="password" 
              placeholder="Hasło" 
              ngModel 
              name="password"
              required>
        <mat-error>Pole nie może być puste.</mat-error>
      </mat-form-field>
      <mat-checkbox fxFlexAlign="left" [(ngModel)]="rememberMe" name="remebmerMeCheckbox">Zapamiętaj mnie</mat-checkbox>
        <button [disabled]="f.invalid" mat-raised-button color="primary" type="submit">Zaloguj się</button>
        <mat-divider></mat-divider>
        <a mat-button routerLink="/login/recover">Nie pamiętasz hasła?</a>  
    </form>
  </div>
</div>